main {
  max-width: 750px;
  min-width: 350px;
  margin: 0 auto;
  padding: 40px;
}

.container {
  color: #156472;
  font-size: 1rem;
  padding: 10px;
  border: 2px solid #156472;
  border-radius: 10px;
  margin-top: 50px;
}

.logo {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  position: relative;
}

.logo img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container form {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.searchbox {
  width: 50%;
  line-height: 2rem;
  margin-right: 10px;
}

.searchbutton {
  width: 20%;
  background-color: #156472;
  color: antiquewhite;
  line-height: 2rem;
}

.container h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}

.todayforecast {
  margin-bottom: 30px;
  padding-left: 15%;
}

.cityforecast {
  width: 75%;
  padding-left: 5%;
}

.currenttemperature {
  font-size: 30px;
  text-align: center;
}

.temperature {
  display: inline;
}

a:link {
  text-decoration: none;
  font-size: 20px;
}

.weeklyforecast {
  width: 95%;
  padding-left: 15%;
  padding-bottom: 20px;
}

.lowtemp {
  opacity: 75%;
  position: relative;
  left: 10px;
  font-size: 0.9rem;
}

.netlify {
  font-size: 12px;
}

.netlify a {
  font-size: 12px;
}
